<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CILAssemblyManipulator.DotNET" version="0.9.7.0" targetFramework="net40" />
  <package id="CILAssemblyManipulator.Portable" version="0.9.7.0" targetFramework="net40" />
  <package id="UtilPack" version="0.9.6.2" targetFramework="net40" />
</packages>